{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <h1 class="works-title">Works</h1>

        <section class="circle-grid">
        <a class="circle-card" href="{{ url_for('touppercase') }}">
            <div class="circle">
            <span class="circle-label">To Uppercase</span>
            </div>
        </a>

        <a class="circle-card" href="{{ url_for('area_triangle') }}">
            <div class="circle">
            <span class="circle-label">Area of Triangle</span>
            </div>
        </a>

        <a class="circle-card" href="{{ url_for('area_circle') }}">
            <div class="circle">
            <span class="circle-label">Area of Circle</span>
            </div>
        </a>

        <a class="circle-card" href="{{ url_for('infix_converter') }}">
            <div class="circle">
            <span class="circle-label">Infix to Postfix</span>
            </div>  
        </a>
        </section>

        
{% endblock %}